.main {
    position: relative;
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(158, 172, 255));
}

.getscore {
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    height: 60%;
    width: 30%;
    min-height: 500px;
    min-width: 300px;
    text-align: center;
    background-image: linear-gradient(to bottom right, #e66465, #9198e5);
    /*让边框变成圆角*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*给边框添加阴影样式*/
    box-shadow: 2px 4px 20px #000;
}

#backbutton {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: noticefont;
}

#txt {
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    font-size: 45px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-family: noticefont;
}

#score {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    font-size: 64px;
    color: rgb(255, 255, 255);
    font-family: noticefont;
}